.accordion {
	max-width: 1000px;
}

.accordion__caption {
	background: #1453a1;
	font-size: 22px;
	color: #ffffff;
	padding: 20px;
	margin-top: 20px;
}

.accordion__information {
	box-sizing: border-box;
	border: 1px solid #1453a1;
	font-size: 18px;
	padding: 20px;
	display: flex;
	flex-direction: column;
}

.accordion__button {
	margin: 20px 0 20px auto;
}

.accordion__form {
	box-sizing: border-box;
    max-width: 400px;
	padding: 40px;
	margin: 0 auto;
}

.accordion__form .wpcf7-form-control-wrap {
	width: 100%;
}



/*media*/ 

@media screen and (max-width: 1279px) {
    
}

@media screen and (max-width: 1023px) {
    
}

@media screen and (max-width: 767px) {
    .main-screen__caption {
		font-size: 32px;
	}
}

@media screen and (max-width: 639px) {
    
}