/*article page*/

.course-info {
    background: #f1f1f1;
    padding: 25px 20px;
    overflow: hidden;
    margin: 20px 0 20px;
    display: flex;
    flex-wrap: wrap;
}

.course-info__type {
    font-size: 16px;
    flex: 1;
}

.course-info__hours {
    padding-right: 17px;
    font-size: 17px;
    border-right: 1px solid #4da2e6;
    margin: auto 0;
}

.course-info__price {
    padding: 0 0 0 14px;
    font-size: 17px;
    font-weight: bold;
    margin: auto 0;
}

.info-bordered {
	border-bottom: 1px solid rgb(0,0,0);
	padding: 20px 0;
}

.info-bordered__caption {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 10px;
}

 
@media screen and (max-width: 1279px) {


}

@media screen and (max-width: 639px) {

	
}

