.main-screen__form {
	margin: auto 0 0;	
	z-index: 10;
}

.form {
    background-color: rgba(20,83,161,.9);
    padding: 20px 0 30px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.form__caption{
	font-size: 26px;
	font-weight: 700;
	color: rgb(255, 255, 255);
	text-align: center;
}

.form__after-caption {
	font-size: 16px;
	color: rgb(255, 255, 255);
	text-align: center;
	margin: 10px 0 15px;
}

.wpcf7 {
    max-width: 1000px;
    margin: 0 auto;
}

.wpcf7-form-control-wrap{
	box-sizing: border-box;
    margin-bottom: 15px;
    display: block;	
}

.form__inputs .wpcf7-form-control-wrap{
	width: 25%;
	padding: 0 7px;
}

.main-screen__form .wpcf7-form-control-wrap_button {
	width: calc(50% - 14px); 
}

.wpcf7-form-control-wrap_button {
	margin: 0 auto;
}

.wpcf7-form-control{
    display: block;
    box-sizing: border-box;
	background-color: rgb(255, 255, 255);
	border: none;
    border-radius: 3px;
    height: 52px;
    width: 100%;
    outline: 0;
    padding: 0 15px;
}

.wpcf7-form-control:not([type=submit]):focus{
    border: 1px solid #1453a1;
}

.wpcf7-form-control-wrap textarea {
    padding: 15px;
    height: 80px;
    min-height: 80px;
    resize: vertical;
    margin-top: 0;
    margin-bottom: 0;
}

.inner-page__form {
	padding: 20px;
}

/*media*/ 

@media screen and (max-width: 1279px) {
    
}

@media screen and (max-width: 1023px) {
    .form__inputs {
		flex-direction: column;
		align-items: center;
	}
	
	.form__inputs .wpcf7-form-control-wrap {
		width: 100%;
		max-width: 300px;
		padding: 0;
	}
	
	.main-screen__form .wpcf7-form-control-wrap_button {
		width: 100%;
		max-width: 300px;
		margin: 0 auto;
	}
	
	.form {
		background-color: rgb(20, 83, 161);
		padding: 30px 0 40px;
	}
	
	.form__caption{
		max-width: 300px;
		margin: 0 auto 20px;
		font-size: 26px;
	}
	
	.form__after-caption{
		display: none;
	}
}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 639px) {
    
}
