.main-screen__form {
	margin: auto 0 0;	
	z-index: 10;
}

.form {
	background-color: rgba(20, 83, 161, 0.6);
	padding: 20px 0 30px;
}

.form__caption{
	font-size: 26px;
	font-weight: 700;
	color: rgb(255, 255, 255);
	text-align: center;
}

.form__after-caption {
	font-size: 16px;
	color: rgb(255, 255, 255);
	text-align: center;
	margin: 10px 0 15px;
}

.wpcf7 {
    max-width: 950px;
    margin: 0 auto;
}

.wpcf7-form-control-wrap{
	box-sizing: border-box;
    margin-bottom: 15px;
    display: block;	
}

.form__inputs .wpcf7-form-control-wrap{
	width: 33.3333%;
	padding: 0 7px;
}

.wpcf7-form-control-wrap_button {
	margin: 0 auto;
}

.wpcf7-form-control{
    display: block;
    box-sizing: border-box;
	background-color: rgb(255, 255, 255);
	border: none;
    border-radius: 3px;
    height: 52px;
    width: 100%;
    outline: 0;
    padding: 0 15px;
}

.wpcf7-form-control:not([type=submit]):focus{
    border: 1px solid #1453a1;
}


/*media*/ 

@media screen and (max-width: 1279px) {
    
}

@media screen and (max-width: 1023px) {
    
}

@media screen and (max-width: 767px) {
    .form__inputs {
		flex-direction: column;
		align-items: center;
	}
	
	.wpcf7-form-control-wrap {
		width: 100%;
		max-width: 300px;
	}
}

@media screen and (max-width: 639px) {
    
}
