.logo-line {
    padding: 23px 0;
}

.logo-line .wrapper {
    align-items: center;
    position: relative;
}

.logo-line__info {
    font-size: 14px;
}

.logo-line__caption {
    font-size: 20px;
    font-weight: 700;
}

.logo-line__small-caption {
    margin: 5px 0 10px;
}

.logo-line__description {
    color: #7b7b7b;
}

.logo {
	display: block;
    background: url(../../images/logo.svg) no-repeat center;
    width: 175px;
    height: 100px;
}

.logo-line__logo {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.logo-line__contacts {
    max-width: 210px;
	text-align: right;
}

.logo-line__phone {
    display: block;
    font-size: 25px;
    font-weight: 700;
    color: #181818; 
    text-decoration: none;
    margin-bottom: 10px;
}

.logo-line__address {
    font-size: 14px; 
    letter-spacing: .2px;
}

.menu-line {
    background: #1453a1;
}

.menu-line .wrapper {
    display: flex;
    justify-content: center;
}

.menu {
    display: block;
    margin: 0;
    padding: 0; 
}

.menu li {
    list-style: none;
    float: left;
    position: relative;
}

.menu a {
    display: inline-block;
    font-size: 17px;
    font-weight: 700; 
    color: #fff;
    text-decoration: none;
    padding: 13px 23px;
}

@media screen and (min-width: 1279px) {
	.menu a:hover{
		background: #003679;
	}
}

.sub-menu {
    display: none;
    background: #1453a1;
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 48px;
    left: 0;
    z-index: 11;
}

.menu li:hover>.sub-menu {
    display: block;
}

.sub-menu.active {
    display: block;
}

.sub-menu li {
    position: relative;
    width: 100%;
    border-top: 1px solid rgba(77, 126, 185);
    text-align: center;
}

.sub-menu li a {
    box-sizing: border-box;
    width: 100%;
    position: relative;
    font-size: 14px; 
    color: #fff;
    text-transform: none;
    text-decoration: none;
    padding: 18px 10px;
}

/*burger*/

.mobile-menu {
    display: none;
    box-sizing: border-box;
    background: #ffffff;
    cursor: pointer;
    height: 42px;
    font-size: 16px;
    line-height: 42px;
    font-weight: 700;
    text-transform: uppercase;
    color: #1453a1;
    padding: 0 10px 0 15px;
    margin: 10px 0;
    border-radius: 3px;
}

.burger {
    display: block;
    width: 40px;
    height: 42px;
	position: relative;
	margin-left: 10px;
}

.burger span, .burger span::before, .burger span::after {
    display: block;
    cursor: pointer;
    border-radius: 5px;
    height: 3px;
    width: 30px;
    background: #e8367b;
    position: absolute;
    top: 10px;
    right: 5px;
    transition: all 200ms ease-in-out;
}

.burger span::before {
    content: '';
    left: 0;
}

.burger span::after {
    content: '';
    left: 0;
    top: 20px;
}

.burger_active span {
    background-color: transparent;
}
    
 .burger_active span::before  {
    transform: rotate(45deg);
    top: 10px;
}

 .burger_active span::after  {
    transform: rotate(-45deg);
    top: 10px;
} 

/*media*/ 

@media screen and (max-width: 1279px) {
    
}

@media screen and (max-width: 1023px) {
	
	.mobile-menu {
        display: flex;
    }
    
    header .menu {
		display: none;
		height: auto;
		position: absolute;
		top: 231px;
		left: 0;
		margin: 0;
		width: 100%;
		text-align: center;
		background: rgb(97, 194, 208);
		z-index: 11;
		padding: 0;
		border-top: 2px solid #fff;
		min-width: 360px;
	}
    
    header .menu li {
        float: none;
		border: none;
    }
    
    header .menu li a {
		display: block;
		border-bottom: 1px solid #39aaba;
		padding: 20px;
		font-weight: 400;
    }
    
    header .menu li:hover .sub-menu {
        display: none;
    }
    
    header .menu li .sub-menu {
        position: static;
        background: #f5f5f5;
    }
    
    header .sub-menu>ul li {
        border-bottom: 1px solid #3c8055;
    }
    
    header .sub-menu li a {
		color: #0d3f7c;
    }	
	
    .logo-line__info {
		display: none;
	}
	
	.logo-line__logo {
		position: static;
		margin: 0;
	} 
	
	.logo-line {
		padding: 10px 0 15px;
	}
	
	.logo-line .wrapper{
		flex-direction: column;
	}
	
	.logo-line__contacts {
		text-align: center;
		margin: 10px 0 0; 
		background: #1453a1;
		color: #fff;
		padding: 4px 20px;
		border-radius: 5px;
	}
	
	.logo-line__phone{
		font-size: 20px;
		margin-bottom:0;
		color:#fff;
	}
	
	.logo-line__address{
		display: none;
	}
	
}

@media screen and (max-width: 767px) {
    
}

@media screen and (max-width: 639px) {


}