.plates {
    text-align: center;
    padding: 60px 0 30px;
}

.plates__content_home {
    margin-top: 35px;
}

.plates__content {
	border: 1px solid rgb(164, 164, 164);
	background-color: rgba(247, 247, 247, 0.38);
	box-shadow: 0px 0px 4px 0px rgba(84, 109, 229, 0.15);
}

.plates__plate-wr {
	box-sizing: border-box;
	width: 20%;
	position: relative;
}

.plates__plate {
	border-right: 1px solid rgb(164, 164, 164);
	padding: 0 20px 20px;
	transition: all 0.7s linear; 
}

.plates__plate:hover {
	background: rgb(255,255,255);
	padding: 40px;
	box-shadow: 0px 0px 6px 0px rgba(84, 109, 229, 0.2);
	border: 1px solid rgb(164, 164, 164);
	position: absolute;
	top: -20px;
	bottom: -20px;
	right: -20px;
	left: -20px;
}

.plates__plate:hover .plates__button {
	background: #1453a1;
	color: rgb(255,255,255);
}

.plates__plate-wr:last-child .plates__plate {
	border: none;
}

.plates__level {
    box-sizing: border-box;
    background-color: #002a5d;
    font-size: 14px;
    color: #fff;
    padding: 10px 10px 15px;
    max-width: 80px;
    margin: 0 auto 22px;
}

.plates__level span {
    font-size: 22px;
}

.plates__caption {
	font-size: 22px;
	font-weight: 700;
	color: rgb(0, 0, 0);
}

.plates__small-caption {
    font-size: 14px;
    color: #7b7b7b;
    margin: 7px 0 15px;
}

.plates__age {
	font-size: 15px;
	color: rgb(82, 82, 82);
	text-transform: uppercase;
}

.plates__icon {
	background: url(../../images/sprites.svg) no-repeat -9px -255px;
	width: 125px;
	height: 125px;
	margin: 33px auto;
}

.plates__icon_mini {
	background-position: -190px -255px;
}

.plates__icon_bussiness {
	background-position: -372px -255px;
}

.plates__icon_big {
	background-position: -553px -255px;
}

.plates__icon_mba {
	background-position: -734px -255px;
}

.plates__button {
	width: 100%;
}


/*media*/ 

@media screen and (max-width: 1279px) {
    
}

@media screen and (max-width: 1023px) {
    
}

@media screen and (max-width: 767px) {
    
}

@media screen and (max-width: 639px) {
    
}