<div class="about-us">
	<div class="wrapper about-us__wrapper">
		<div class="caption">Академия молодых лидеров "New Leaders"</div>
		<div class="after-caption">Нашей миссией является воспитание, образование и развитие творческой, успешной личности с лидерским качествами - Лидера 21 века. Мы предлагаем курсы высокого качества по разумной цене с многоуровневой программой для разных возрастов. У нас предусмотрен комплексный подход к обучению с профессиональным преподавательским составом.</div>
		
		<div class="about-us__image"></div>
		 
	</div>
</div>