<div class="accordion">
	<h3 class="accordion__caption">Младший босс</h3>
	<div class="accordion__information">
		<div class="accordion__text">Подробная информация о курсе "Младший босс" Подробная информация о курсе "Младший босс" Подробная информация о курсе "Младший босс" Подробная информация о курсе "Младший босс" Подробная информация о курсе "Младший босс" Подробная информация о курсе "Младший босс" Подробная информация о курсе "Младший босс" Подробная информация о курсе "Младший босс"</div>
		<div class="accordion__buttons">
			<a href="#" class="button button_grey">Скачать учебный план</a>
			<a href="#" class="button button_grey">Читать подробнее</a>
		</div>
		<div class="form accordion__form">
			<div class="form__caption">Подать заявку</div>
			<div role="form" class="wpcf7" id="wpcf7-f4-o1" lang="ru-RU" dir="ltr">
				<form class="wpcf7-form">
					<span class="wpcf7-form-control-wrap">
						<input type="text" name="name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Имя">
					</span>
					<span class="wpcf7-form-control-wrap">
						<input type="text" name="name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Возраст">
					</span>
					<span class="wpcf7-form-control-wrap">
						<input type="text" name="phone" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Телефон">
					</span>
					<span class="wpcf7-form-control-wrap">
						<input type="text" name="E-mail" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="E-mail">
					</span>						
					<span class="wpcf7-form-control-wrap wpcf7-form-control-wrap_button">
						<button class="button button_pink">
							<div class="button__inner">Отправить</div>
						</button>
					</span>
				</form>
			</div>
		</div>
	</div>
	<h3 class="accordion__caption">Старший босс</h3>
	<div class="accordion__information">
		<div class="accordion__text">Подробная информация о курсе "Старший босс" Подробная информация о курсе "Старший босс" Подробная информация о курсе "Старший босс" Подробная информация о курсе "Старший босс" Подробная информация о курсе "Старший босс" Подробная информация о курсе "Старший босс" Подробная информация о курсе "Старший босс" Подробная информация о курсе "Старший босс"</div>
		<div class="accordion__buttons">
			<a href="#" class="button button_grey">Скачать учебный план</a>
			<a href="#" class="button button_grey">Читать подробнее</a>
		</div>
		<div class="form accordion__form">
			<div class="form__caption">Подать заявку</div>
			<div role="form" class="wpcf7" id="wpcf7-f4-o1" lang="ru-RU" dir="ltr">
				<form class="wpcf7-form">
					<span class="wpcf7-form-control-wrap">
						<input type="text" name="name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Имя">
					</span>
					<span class="wpcf7-form-control-wrap">
						<input type="text" name="name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Возраст">
					</span>
					<span class="wpcf7-form-control-wrap">
						<input type="text" name="phone" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Телефон">
					</span>
					<span class="wpcf7-form-control-wrap">
						<input type="text" name="E-mail" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="E-mail">
					</span>						
					<span class="wpcf7-form-control-wrap wpcf7-form-control-wrap_button">
						<button class="button button_pink">
							<div class="button__inner">Отправить</div>
						</button>
					</span>
				</form>
			</div>
		</div>
	</div>
</div>