<div class="advantages">
	<div class="wrapper">
		<h2 class="caption">Обучение у нас способствует развитию как личностных качеств, так и <span>предпринимательских навыков!</span></h2>
		<div class="advantages__items advantages__items_home flex">
			<div class="advantages__item">
				<div class="advantages__icon advantages__icon_experience"></div>
				<div class="advantages__caption">Более 10 лет на рынке образовательных услуг</div>
				<div class="advantages__text">Мы стремимся отразить наилучшие зарекомендовавшие себя подходы, с учетом новейших идей и разработок.</div>
			</div>
			<div class="advantages__item">
				<div class="advantages__icon advantages__icon_quantity"></div>
				<div class="advantages__caption">Более 1000 учеников выбрали нас</div>
				<div class="advantages__text">Наши тренеры отличаются, как профессионализмом в ведении тренингом, так и умением найти индивидуальный подход к каждому участнику программы.</div>
			</div>
			<div class="advantages__item">
				<div class="advantages__icon advantages__icon_levels"></div>
				<div class="advantages__caption">5 уровней программ в соответствии с возрастом</div>
				<div class="advantages__text">Наши программы включают в себя различные по тематической направленности занятия, которые составляют полноценную образовательную систему.</div>
			</div>
		</div>
	</div>
</div>