<header>  
    <div class="logo-line">
    	<div class="wrapper flex_between">
    		<div class="logo-line__info">
    			<div class="logo-line__caption">Академия молодых лидеров!</div>
    			<div class="logo-line__small-caption">№1 в Санкт-Петербурге</div>
    			<div class="logo-line__description">Образовательные программы для детей</div>
    		</div>
    		<a href="/" class="logo-line__logo logo"></a>
    		<div class="logo-line__contacts">
    			<a href="tel:88126773185" class="logo-line__phone">8 (812) 677-31-85</a>
    			<div class="logo-line__address">195067 г. Санкт-Петербург, пр. Непокоренных, д. 14/2</div>
    		</div>
    	</div>
    </div>
    <div class="menu-line">
    	<div class="wrapper">
    		<nav class="navbar">
				<ul class="menu">
					<li>
						<a href="#">Главная</a>
					</li>
					<li class="menu-item-has-children"><a href="#">Курсы и цены</a>
						<ul class="sub-menu">
                            <li><a href="#">Курс 1</a></li>
                            <li><a href="#">Курс 2</a></li>
                            <li><a href="#">Курс 3</a></li>
                        </ul>
					</li>
					<li>
						<a href="#">Новости</a>
					</li>
					<li>
						<a href="#">Преподаватели</a>
					</li>
					<li>
					   <a href="#">Отзывы</a>
					</li>
					<li>
					   <a href="#">Контакты</a>
					</li>
				</ul>
			</nav>
			<div class="mobile-menu flex">
				<div>Меню</div>
				<div class="burger">
					<span></span>
				</div>
			</div>
    	</div>
    </div> 
</header>