<div class="plates">
	<div class="wrapper">
		<h2 class="caption">Наши программы включают в себя различные по тематике занятия, которые составляют <span>полноценную образовательную систему</span></h2>
		<div class="after-caption">Наши программы помогают школьникамвыбрать будущую профессию и получить знания в сфере экономики, финансов, менеджмента, маркетинга</div>
		<div class="plates__content plates__content_home flex">
			<div class="plates__plate-wr">
				<a href="#" class="plates__plate">
					<div class="plates__level"><span>0</span> уровень</div>
					<div class="plates__caption">Baby Boss</div>
					<div class="plates__small-caption">Предбосс</div>
					<div class="plates__age">3-7 лет</div>
					<div class="plates__icon plates__icon_baby"></div>
					<div class="button button_grey plates__button">Подробнее</div>
				</a>
			</div>
			<div class="plates__plate-wr">
				<a href="#" class="plates__plate">
					<div class="plates__level"><span>1</span> уровень</div>
					<div class="plates__caption">Mini Boss</div>
					<div class="plates__small-caption">Младший босс</div>
					<div class="plates__age">7-10 лет</div>
					<div class="plates__icon plates__icon_mini"></div>
					<div class="button button_grey plates__button">Подробнее</div>
				</a>
			</div>
			<div class="plates__plate-wr">
				<a href="#" class="plates__plate">
					<div class="plates__level"><span>2</span> уровень</div>
					<div class="plates__caption">Business in action</div>
					<div class="plates__small-caption">Средний босс</div>
					<div class="plates__age">11-15 лет</div>
					<div class="plates__icon plates__icon_bussiness"></div>
					<div class="button button_grey plates__button">Подробнее</div>
				</a>
			</div>
			<div class="plates__plate-wr">
				<a href="#" class="plates__plate">
					<div class="plates__level"><span>3</span> уровень</div>
					<div class="plates__caption">Big Boss</div>
					<div class="plates__small-caption">Старший босс</div>
					<div class="plates__age">16-18 лет</div>
					<div class="plates__icon plates__icon_big"></div>
					<div class="button button_grey plates__button">Подробнее</div>
				</a>
			</div>
			<div class="plates__plate-wr">
				<a href="#" class="plates__plate">
					<div class="plates__level"><span>4</span> уровень</div>
					<div class="plates__caption">MBA</div>
					<div class="plates__small-caption">Генеральный босс</div>
					<div class="plates__age">18-22 лет</div>
					<div class="plates__icon plates__icon_mba"></div>
					<div class="button button_grey plates__button">Подробнее</div>
				</a>
			</div>
		</div>	
	</div>
</div>