<div class="photo-info">
	<div class="wrapper flex">
		<div class="photo-info__photo"></div> 
			<div class="topslider_wrapper">
				<div class="topslider" style="height: 200%; position: relative" data-slide="0">
					<div class="start" style="height: 50%">
						<div class="photo-info__text">
							<div class="photo-info__caption">111111111 11  111Внимание! Продолжается набор на курс</div>
							<div class="photo-info__after-caption">111 1 1111 11111 111“Business in action” (Средний босс) для детей 11-15 лет</div>
							<a href="#order" data-fancybox class="photo-info__button button button_pink">
								<div class="button__inner">Подать заявку</div>
							</a> 
						</div>
					</div>
					<div class="start" style="height: 50%">
						<div class="photo-info__text">
							<div class="photo-info__caption">Новый курс!</div>
							<div class="photo-info__after-caption">“Business in action” (Средний босс) для детей 11-15 лет</div>
							<a href="#order" data-fancybox class="photo-info__button button button_pink">
								<div class="button__inner">Подать заявку</div>
							</a> 
						</div>		
					</div>
				</div>
			</div>  
	</div>
</div>