@import "parts/jquery.fancybox.min.css";
@import "parts/base-blocks.less";
@import "parts/header.less";
@import "parts/form.less";
@import "parts/banner.less";
@import "parts/advantages.less";
@import "parts/photo-info.less";
@import "parts/levels.less";
@import "parts/reviews.less";
@import "parts/footer.less";
@import "parts/accordion.less";
@import "parts/review.less";
@import "parts/contacts.less";

/*main-screen*/ 

.main-screen {
	box-sizing: border-box;
	background: #e8f5fc;
	min-height: 715px;
	padding-top: 65px;
	display: flex;
	flex-direction: column;
	position: relative;
	overflow: hidden;
}

.clouds-dark {
    background: url(../images/clouds-2.svg) repeat no-repeat center;
    background-size: contain;
    height: 300px;
    width: 100%;
	position: absolute;
	bottom: 315px;
	left: 0;
	right: 0;
	animation: clouds-dark 550s infinite linear;
}

@keyframes clouds-dark { 
    to {background-position: -4500px;}
}

.clouds-light {
    background: url(../images/clouds-1.svg) repeat-x center;
    background-size: contain;
    height: 300px;
    width: 100%;
	position: absolute;
	bottom: 315px;
	left: 0;
	right: 0;
	animation: clouds-light 550s infinite linear;
}

@keyframes clouds-light { 
    to {background-position: 4050px;}
}

.sea {
	background: url(../images/waves.svg) repeat center #61c2d0;
	height: 315px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	animation: sea 60s infinite linear;
}

@keyframes sea { 
    to {background-position: 20000px;}
}

.ship {
	background: url(../images/ship.svg) no-repeat center;
	width: 510px;
	height: 350px;
	position: absolute;
	bottom: 200px;
	left: 0;
	right: 0;
	margin: 0 auto;
	animation: rotate 2s ease-out infinite;
	transform-origin: 50% 65%;
}

@keyframes rotate {
	from {
    }
    25% {
        transform: rotate(2deg);
    }
	50% {
        transform: rotate(0deg);
    }
	75% {
        transform: rotate(-2deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.icebergs {
	background: url(../images/icebergs.svg) repeat-x center;
	background-size: contain;
	height: 200px;
	width: 100%;
	position: absolute;
	bottom: 200px;
	animation: iceberg 70s infinite linear;
}

@keyframes iceberg { 	
    to {background-position: 10000px;}
}

.main-screen__caption {
	font-size: 38px;
	font-weight: 900;
	text-align: center;
	line-height: 1.2;
	margin-bottom: 15px;
	z-index: 10;
	position: relative;
}

.main-screen__caption span {
	color: #f8be1e;
	text-transform: uppercase;
}

.main-screen__after-caption {
	font-size: 20px;
	color: rgb(123, 123, 123);
	text-align: center;
	z-index: 10;
	position: relative;
}

.inner-page {
	padding: 70px 0;
}

.inner-caption {
	font-size: 30px;
	margin-bottom: 30px;
}


/*media*/ 

@media screen and (max-width: 1279px) {
    
}

@media screen and (max-width: 1023px) {
    
}

@media screen and (max-width: 767px) {
    .main-screen__caption {
		font-size: 32px;
	}
}

@media screen and (max-width: 639px) {
    
}