@import "parts/jquery.fancybox.min.css";
@import "parts/base-blocks.less";
@import "parts/header.less";
@import "parts/form.less";
@import "parts/banner.less";
@import "parts/advantages.less";
@import "parts/photo-info.less";
@import "parts/levels.less";
@import "parts/reviews.less";
@import "parts/footer.less";

/*main-screen*/ 

.main-screen {
	box-sizing: border-box;
	background: #e8f5fc;
	min-height: 715px;
	padding-top: 65px;
	display: flex;
	flex-direction: column;
}

.main-screen__caption {
	font-size: 38px;
	font-weight: 900;
	text-align: center;
	line-height: 1.2;
	margin-bottom: 15px;
}

.main-screen__caption span {
	color: #f8be1e;
	text-transform: uppercase;
}

.main-screen__after-caption {
	font-size: 20px;
	color: rgb(123, 123, 123);
	text-align: center;
}






/*media*/ 

@media screen and (max-width: 1279px) {
    
}

@media screen and (max-width: 1023px) {
    
}

@media screen and (max-width: 767px) {
    .main-screen__caption {
		font-size: 32px;
	}
}

@media screen and (max-width: 639px) {
    
}